<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a class="logo" href="{{ "" | absURL }}" aria-label="{{ .Site.Title }} home page">
        <img src="{{ "images/logo.svg" | absURL }}" alt="">
      </a>
      <p class="library-desc">
        {{ with .Site.Params.description }}
          {{ . | markdownify }}
        {{ end }}
      </p>
    </div>
    <div id=social>
      <nav>
        <ul>
          {{- range $index, $key := .Site.Params.Social -}}
          <li><a href="{{ $key.url }}"><i title="{{ $key.name }}" class="icons {{ $key.icon }}"></i></a></li>
          {{- end -}}
        </ul>
      </nav>
    </div>
    {{ partial "nav.html" . }}
  </div>
</header>